<div>
  <div class="list-container">
    <h2>Minhas Tarefas</h2>
    <button class="btn mb-2" [routerLink]="['/new']">
      Nova Tarefa
    </button>
  </div>
  <hr />
</div>

<section>
  <div class="alert alert-warning" role="alert" *ngIf="tasks.length == 0">
    <p>Nenhuma tarefa encontrada!</p>
  </div>
  <ul class="list-group" *ngIf="tasks.length > 0">
    <li class="list-group-list" *ngFor="let task of tasks">
      <app-task-list-item [task]="task" class="task-item"></app-task-list-item>
    </li>
  </ul>
</section>