.alert {
  text-align: center;
}
.btn {
  background-color: var(--skin-color);
  color: var(--bg-black-700);
  transition: all .3s ease;
}
.btn:hover {
  transform: scale(1.02);
}
.list-group {
  margin-top: 30px;
}
.list-group-list {
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: #444;
}
