.container {
  transition: all .2s ease-in-out;
  height: 90vh;
}
footer {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

@media (min-width: 999px) {
  .container {
    width: 60%;
    margin-left: 20%;
  }
}