<div class="task-item">
  <div class="start">
    <div class="form-group form-check">
      <input [(ngModel)]="task.completed" (change)="onCompletedCheckChange(task)" type="checkbox" class="form-check-input">
    </div>
    <div>
      <div [innerHTML]="task.name" class="task-item-name" [ngClass]="task.completed ? 'task-completed' : ''"></div>
      <div [innerHTML]="task.description" class="task-item-description" [ngClass]="task.completed ? 'task-completed' : ''"></div>
    </div>
  </div>
  <div class="btns">
    <div>
      <button type="button" [routerLink]="['/edit', task.id]" class="btn btn-primary mr-1">Alterar</button>
    </div>
    <div>
      <button type="button" (click)="remove(task)" class="btn btn-danger mr-1 delete">Excluir</button>
    </div>
  </div>
</div>